.order-checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 5rem;
    margin-block-end: 5rem;
    margin-inline: 5rem;
    color: black;

    h2 {
        margin: 0;
    }

    .order-checkout-title {
        font-size: 2rem;
        margin-block-end: 2rem;
        grid-column: 1 / span 2;
    }

    .checkout-your-trip {
        margin-block-end: 2rem;
    }

    .order-checkout-top-content {
        margin-block-end: 2rem;

        h2 {
            margin-block-end: 1rem;
        }
    }

    .back {
        position: absolute;
        top: 8rem;
        left: 7rem;
        width: 3rem;
        height: 3rem;

        background-color: #fff;
        border-radius: 50%;

        img {
            margin-inline-start: 0.8rem;
            width: 45%;
        }

        &:hover {
            background-color: #f5f5f5;
            cursor: text;
        }
    }

    h3 {
        font-family: cereal-medium;
        font-size: 1rem;
    }

    hr {
        border: 0.5px solid $gray1;
    }

    .checkout-payment-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block-end: 2rem;
        margin-block-start: 2rem;

        .checkout-user-card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 1px solid #cdcdcd;
            border-radius: 10px;
            overflow: hidden;

            input {
                padding: 1rem;
                border: none;
                font-size: 1rem;
                font-family: cereal-light;

                &:first-child {
                    grid-column: 1 / span 2;
                    border-bottom: 1px solid #cdcdcd;
                }

                &:last-child {
                    border-inline-start: 1px solid #cdcdcd;
                }
            }
        }

        .ZIP-code {
            width: 100%;
            padding: 0.7rem;
            padding-block: 1rem;
            font-size: 1rem;
            font-family: cereal-light;
            border-radius: 10px;
            border: 1px solid #cdcdcd;

            &::placeholder {
                color: black;
            }
        }
    }

    .btn-checkout-country {
        background-color: #fff;
        padding: 0.7rem;
        padding-block: 1rem;
        margin-block-end: 1rem;

        border-radius: 10px;
        border: 1px solid #cdcdcd;

        font-size: 1rem;
        font-family: cereal-light;
        text-align: start;
    }

    .checkout-cancellation-policy {
        margin-block: 2rem;

        p {
            font-family: cereal-light;
        }

        .cancellation-policy-bold {
            font-family: cereal-medium;
        }
    }

    .ground-rules {
        margin-block: 2rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                &::before {
                    content: '·';
                    color: black;
                    margin-inline-end: 1rem;
                }
            }
        }
    }

    .checkou-host-option {
        margin-block: 2rem;
    }

    .checkout-disclaimer {
        margin-block: 2rem;
        font-size: 0.8rem;
    }

    .checkout-final-book {
        padding: 1rem;
        padding-inline: 2rem;
        font-size: 1rem;
        font-family: cereal-medium;
        background-color: $clr1;
        color: #fff;
        border-radius: 10px;

        &:hover {
            background-color: $clr2;
        }
    }

    .btn-container {
        position: relative;
        width: 20rem;
        height: 48px;
        padding: 0 0;
        margin: 0 0;
        cursor: pointer;
        border: none;
        display: grid;
        grid-template: repeat(10, 1fr) / repeat(10, 1fr);

        @for $i from 0 to 10 {
            .cell:nth-child(10n + #{$i + 1}):hover~.content {
                --positionX: #{$i};
            }

            .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover~.content {
                --positionY: #{$i};
            }
        }
    }

    .cell {
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .content {
        --positionX: 0;
        --positionY: 5;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-radius: 8px;

        background-image: radial-gradient(circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%),
                rgb(241, 37, 75) 0%,
                rgb(230, 30, 77) 27.5%,
                rgb(227, 28, 95) 40%,
                rgb(215, 4, 102) 57.5%,
                rgb(189, 30, 89) 75%,
                rgb(189, 30, 89) 100%);
    }

    .action-btn {
        padding: 0 0;
        margin: 0 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
    }

    span {
        padding: 0 0;
        margin: 0 0;
        color: white;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        font-family: cereal-medium;
    }

}