.search-page {
  display: flex;
}

.search-page-list {
  // flex: 1;
  // overflow-y: auto;
  // padding-right: 1rem;
  width: 49%;
}

.search-page-map {
  position: fixed;
  // top: var(--header-height); /* Adjust based on your header height */
  right: 0;
  width: 49%;
}
