.user-orders {

    h2 {
        margin-block: 2rem;
        font-family: cereal-medium;
        color: black;
    }

    table {
        width: 100%;
        border: none;
        border-collapse: collapse;

        td {
            border: none;
            color: black;
            padding: 1rem;
            padding-inline-start: 0;
            font-family: cereal-light;

            &:first-of-type {
                padding-inline-start: 1rem;
                font-family: cereal-regular;
            }
        }

        th {
            text-align: start;
            font-size: 1.2rem;
        }

        tr:nth-child(even) {
            background-color: #f7f7f7;
        }
    }

    button {
        background-color: transparent;
        width: 5rem;
        color: grey;

        &:nth-of-type(even) {
            padding-inline-start: 1rem;
            font-family: cereal-regular;
        }

        &:hover {
            color: black;
        }

    }
}