.order-details {
    align-self: start;
    position: sticky;
    top: 7rem;
    height: 30rem;

    padding: rem(24px);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    margin-inline-start: rem(32px);
    margin-block-start: 1rem;
    margin-inline: 2rem;

    .price-per-night {
        display: flex;
        align-items: baseline;
        margin-block-end: rem(24px);

        h2 {
            font-size: rem(22px);
            margin: 0;
            padding-inline-end: rem(4px);
        }

        span {
            font-size: rem(16px);
        }
    }


    .od-btns-booking-details {
        display: grid;
        grid-template-columns: 1fr 1fr;

        overflow: hidden;

        padding: 0;
        background-color: #fff;
        border: 1px solid rgb(171, 171, 171);
        border-radius: 10px;

        font-size: 0.9rem;

        p {
            margin: 0;
        }


        &>* {
            padding: 0.5rem;

        }

        .od-booking-date {
            display: flex;
            flex-direction: column;

            font-size: 0.7rem;

            &:hover {
                cursor: pointer;
            }

            &:first-of-type {
                border-inline-end: 1px solid rgb(171, 171, 171);
            }

            .od-text {
                font-size: 0.6rem;
                font-family: cereal-bold;
            }
        }

        .od-booking-guests {
            grid-column: 1 / span 2;
            display: flex;
            justify-content: space-between;
            align-items: center;

            background-color: #fff;
            border-top: 1px solid rgb(171, 171, 171);
            text-align: start;
        }
    }

    .price-details-content {

        h1 {
            font-size: 0.8rem;
            font-family: cereal-light;
            text-align: center;
        }

        h3 {
            font-family: cereal-light;
            font-size: 1rem;
        }

        div {
            display: flex;
            justify-content: space-between;
            margin-block: 1rem;

            h3 {
                font-size: 0.9rem;

                &:nth-of-type(odd) {
                    text-decoration: underline;
                }
            }

        }
    }

    .payment-total {
        display: flex;
        justify-content: space-between;

        p {
            font-family: cereal-regular;
        }
    }

    .date-picker-container {
        z-index: 1;

        position: absolute;
        left: -180%;

        padding: 24px 32px 16px;
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
        margin-block-end: rem(16px);
    }

    .od-guests-modal {
        z-index: 1;

        position: absolute;
        right: 100%;
        top: 0;

        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        margin-block-end: rem(16px);

        .guest-modal-close {
            background-color: #fff;
            text-decoration: underline;
            text-align: end;
            font-size: 1.1rem;

        }
    }
}

.order-details-container {
    position: relative;
    height: 70rem;
}