.app-footer {
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid rgb(224, 224, 224);


    .app-footer-desktop {

        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 3rem;
        // width: 100%;

        padding-block: 1rem;
        // padding-inline: 2.5rem;

        font-size: 0.8rem;
        color: #222222;

        .footer-app-settings {
            display: flex;
            align-items: center;
            font-family: cereal-medium;

            img {
                max-width: 1rem;
            }

            p {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                &:first-of-type {
                    width: 8rem;
                }

                span {
                    font-size: 1rem;
                }
            }
        }
    }

    .app-footer-mobile {
        margin-block: 0.5rem;
        display: none;
        align-items: center;
        justify-content: space-between;
        color: #545454;


        .app-footer-mobile-icon {
            display: flex;
            flex-direction: column;
            place-items: center;
            gap: 0.2rem;

            &:hover {
                cursor: pointer;
            }


            p {
                margin: 0;
                font-size: 0.8rem;

                &.selected {
                    color: $clr1;
                }
            }

            img {
                max-width: 1.5rem;

            }
        }


    }

    @include for-mobile-layout {
        .app-footer-mobile {
            display: flex;
        }

        .app-footer-desktop {
            display: none;
        }
    }
     

}