.app-header-container {
  border-bottom: 1px solid rgba($clr8, 0.1);
  position: sticky;
  top: 0;
  z-index: 102;


  .app-header {
    // display: none;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-block: 1rem;
    color: $clr1;
    background-color: $clr12;
    transition: all 0.3s ease-in;

    &.expanded {
      grid-template-rows: auto auto auto;
    }

    &.focused {
      grid-template-rows: auto 0px auto;
    }

    .header-stay-title {
      position: absolute;
      top: 29px;
      left: 48%;
      text-align: center;
      font-size: 1rem;
      color: black;
      transition: opacity 0.5s ease-in-out;

      &.visible {
        opacity: 1;
      }

      &.hidden {
        opacity: 0;
      }
    }

    .logo {
      display: flex;
      align-items: center;
      font-size: 2.3rem;

      &:hover {
        cursor: pointer;
      }

      h1 {
        padding: 0;
        margin: 0;
        color: $clr1;
        font-family: cereal-bold;
        font-size: 1.5rem;
      }
    }

    .filter-expanded,
    .filter-focused {
      opacity: 0;
      visibility: hidden;
      justify-self: center;
      transition: visibility 0.3s ease-in, opacity 0.3s ease-in;

      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }

    .filter-expanded {
      grid-column: -1/1;
      grid-row: 2;
    }

    .filter-label {
      grid-row: 3;
      grid-column: -1/1;
    }

    .header-user {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-self: end;
    }

    .header-login {
      display: flex;
      place-items: center;
      gap: 0.5rem;
      overflow: hidden;
      padding: 0.5rem;
      padding-block: 0.4rem;
      border: 1px solid $gray1;
      border-radius: 30px;
      transition: 0.2s;

      &:hover {
        box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.56);
      }

      img {
        max-height: 2rem;
        border-radius: 50%;

        &:first-of-type {
          height: 1.2rem;
        }
      }
    }

    .div-user-img {
      display: flex;
      place-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: black;
      border-radius: 50%;
      color: #fff;
      font-size: 0.7rem;
    }

    &.active {
      box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.56);
    }

    .btn-add-stay {
      font-family: cereal-medium;
      font-size: 0.9rem;
      color: $gray4;
      padding: 1rem;
      background-color: #fff;
      border-radius: 30px;

      &:hover {
        background-color: #f5f4f4;
      }
    }

  }

  .app-header-mobile {
    z-index: 200;
    position: sticky;
    top: 0;
    display: none;
    background-color: #fff;

    .mobile-header-btn-search {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 90%;
      margin: auto;

      padding: 0.7rem 1.2rem;
      border-radius: 30px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.05);
      margin-block: 0.8rem;


      p {
        font-size: 0.8rem;
        margin: 0;
        color: black;

        &:first-of-type {
          font-family: cereal-medium;
        }

        &:last-of-type {
          font-family: cereal-light;
          color: rgb(68, 68, 68);
        }

      }

      img {
        height: 1.2rem;
      }
    }
  }

  @include for-mobile-layout {
    // .app-header-mobile {
    //   display: block;
    // }

    .app-header{
      display: none;
    }
  }
}