//AppHeader
.app-header {
  position: sticky;
  z-index: 100;
  top: 0;

  display: grid;
  grid-template-columns: auto 1fr auto;
  // row-gap: 1rem;
  align-items: center;
  padding-block-start: 1rem;
  color: $clr1;
  background-color: $clr12;
  transition: grid-template-rows 0.3s ease-in-out;

  &.expanded {
    grid-template-rows: auto auto auto;
  }

  &.focused {
    grid-template-rows: auto 0px auto;
  }

  .header-stay-title {
    position: absolute;
    top: 29px;
    left: 48%;
    text-align: center;
    font-size: 1rem;
    color: black;

    &.visible {
      opacity: 1;
    }

    &.hidden {
      display: none;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 2.3rem;

    &:hover {
      cursor: pointer;
    }

    h1 {
      padding: 0;
      margin: 0;
      color: $clr1;
      font-family: cereal-bold;
      font-size: 1.5rem;
    }
  }

  .filter-expanded,
  .filter-focused {
    opacity: 0;
    visibility: hidden;
    // transform: scaleY(0);
    // transform-origin: top;
    justify-self: center;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.visible {
      opacity: 1;
      // transform: scaleY(1);
      visibility: visible;
    }
  }

  .filter-focused {
    grid-row: 1;
  }

  .filter-expanded {
    grid-column: -1/1;
    grid-row: 2;
  }

  .filter-label {
    grid-row: 3;
    grid-column: -1/1;
  }

  .header-user {
    display: flex;
    align-items: center;
    justify-self: end;
  }

  .header-login {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem;
    padding-block: 0.3rem;
    border: 1px solid $gray1;
    border-radius: 30px;

    transition: 0.2s;

    &:hover {
      box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.56);
    }

    img {
      height: 1.5rem;
      border-radius: 0;

      &:last-of-type {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .div-user-img {
      display: flex;
      place-content: center;
      align-items: center;

      width: 2rem;
      height: 2rem;

      background-color: black;
      border-radius: 50%;
      color: #fff;
      font-size: 0.7rem;
    }

    &.active {
      box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.56);
    }
  }

  .btn-add-stay {
    font-family: cereal-medium;
    font-size: 0.9rem;
    color: $gray4;

    padding: 1rem;
    background-color: #fff;
    border-radius: 30px;
    margin-inline: 1rem;

    &:hover {
      background-color: #f5f4f4;
    }
  }

  &::after {
    content: "u";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100vw;
    background-color: rgba($clr8, 0.1);
  }
}