.app-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto auto;
  align-items: center;
  padding: em(15px) em(80px);
  // gap: 1em;

  width: 100%;

  color: $clr1;
  background-color: $clr12;
  border-bottom: 1px solid rgb(221, 221, 221);

  .filter-expanded,
  .filter-focused {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: visibility 0.3s ease-in-out, max-height 0.3s ease-in-out,
      opacity 0.3s ease-in-out;

    justify-self: center;

    &.visible {
      opacity: 1;
      max-height: 100px;
      visibility: visible;
    }
  }

  .filter-focused {
    grid-row: 1;
  }

  .filter-expanded {
    grid-column: -1/1;
    grid-row: 2;
    max-height: 0;
  }

  .header-user {
    display: flex;
    align-items: center;
  }

  .header-login {
    display: flex;
    gap: 1rem;

    padding: 0.6rem;
    border: 1px solid $gray1;
    border-radius: 30px;

    transition: 0.2s;

    &:hover {
      box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.56);
    }

    img {
      width: 2rem;

      &:first-child {
        width: 1.5rem;
      }
    }

    &.active {
      box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.56);
    }

    &.active {
      box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.56);
    }
  }

  .btn-add-stay {
    font-family: cereal-medium;
    font-size: 0.9rem;
    color: $gray4;
    
    padding: 1rem;
    background-color: #fff;
    border-radius: 30px;
    margin-inline: 1rem;

    &:hover {
      background-color: #f5f4f4;
    }
  }

  display: grid;
  align-items: center;
  grid-auto-flow: column;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 2rem;
    justify-self: start;
    &:hover {
      cursor: pointer;
    }

    h1 {
      padding: 0;
      margin: 0;
      color: $clr1;
      font-family: cereal-bold;
      font-size: 1.4rem;
    }
  }

  .header-user {
    justify-self: end;
  }
}
