.checkout-stay-modal {
    align-self: start;
    position: sticky;
    top: 7rem;
    height: 32.5%;

    justify-self: end;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #cdcdcd;
    width: 82%;

    hr {
        margin-block: 1.5rem;
    }

    .checkout-stay-modal-top {
        display: flex;
        gap: 1rem;
        align-items: center;

        img {
            height: 7rem;
            aspect-ratio: 1 / 1;
            border-radius: 12px;
        }

        p {
            margin-block: 0.3rem;
            font-family: cereal-light;

            &:first-of-type {
                font-family: cereal-regular;
            }

            &:nth-of-type(2) {
                font-size: 0.9rem;
            }

            &:last-of-type {
                font-size: 0.9rem;
                font-family: cereal-regular;

                span {
                    font-size: 0.8rem;
                    font-family: cereal-light;
                }
            }
        }
    }

    .price-details-content {

        h1 {
            font-size: 1.2rem;
        }

        h3 {
            font-family: cereal-light;
        }

        div {
            display: flex;
            justify-content: space-between;
            margin-block: 1rem;

            h3 {
                font-size: 0.9rem;

                &:nth-of-type(odd) {
                    text-decoration: underline;
                }
            }

        }
    }

    .payment-total {
        display: flex;
        justify-content: space-between;
        justify-items: start;

        p{
            margin: 0;
        }

        h3 {
            font-family: cereal-regular;
        }
    }
}

.checkout-stay-modal-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: end;
}