.date-range-wrapper {
  display: grid;
  gap: 2rem;
  justify-items: center;
  // padding-inline: 2rem;
  // padding-block-end: 2.5rem;
  // padding-block-start: 1rem;

  .date-range-btns {
    font-family: cereal-regular;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ebebeb;
    border-radius: 100px;
    padding: 0 4px;

    button {
      padding: 8px 12px;
      font-family: cereal-regular;
      font-size: 0.9rem;
      font-weight: 700;
      margin: 4px;
      border: 1px solid #ebebeb;
      border-radius: 100px;
    }
  }

  .react-datepicker {
    display: grid;
    // grid-auto-flow: column;
    justify-content: center;

    font-family: cereal-regular;
    font-size: 0.8rem;
    line-height: em(22.5px, 17.5px);
    border-radius: 10px;
    border: none;
    padding: 0;

    @media (max-width: 600px) {
      grid-auto-flow: row;
    }

    @media (min-width: 600px) {
      grid-auto-flow: column;
    }
  }

  .react-datepicker__day--end {
    background-color: #222222;
    color: #fff;
    border-radius: 50% !important;
  }

  .react-datepicker__day--in-range {
    background-color: #f7f7f7;
    border-radius: 0px;
    border-left: #ebebeb 5px;
    color: #222222;
    outline: #222222;
  }

  .react-datepicker__day--disabled {
    color: #bdbdbd;
    pointer-events: none;
  }

  .react-datepicker__header {
    background-color: #ffffff;
    border-bottom: none;
  }

  .react-datepicker__current-month,
  .react-datepicker__day-name {
    color: #222222;
  }

  .react-datepicker__day--in-selecting-range:not(
      .react-datepicker__year-text--in-range
    ) {
    background-color: #f7f7f7;
    color: #222222;
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--end {
    background-color: #222222;
    color: #fff;
    border-radius: 50%;
  }

  //Added changes

  .react-datepicker__day {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    line-height: em(22.5px, 17.5px);
    font-weight: 500;
  }

  .react-datepicker__day:hover {
    background-color: #ebebeb;
    color: #222222;
  }

  .react-datepicker__month-container {
    &:first-of-type {
      margin-right: 40px;
    }

    .react-datepicker__current-month {
      font-size: 1rem;
      margin-block-end: 1rem;
    }
  }

  // .react-datepicker__day-name {
  // color: #ff2e2e;
  .react-datepicker__day-names {
    display: flex;
    white-space: nowrap;
    margin-bottom: -8px;
    justify-content: space-evenly;
  }
  // }

  .react-datepicker__day--selected {
    background-color: #222222 !important;
    color: #fff !important;
    border-radius: 50% !important;
  }

  .react-datepicker__week {
    display: flex;
    align-items: center;
  }

  .react-datepicker__month .react-datepicker__day--outside-month {
    background-color: initial !important;
  }
}
