.filter-label {
  top: 0;
  z-index: 100;
  // width: 100vw;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  text-align: center;

  background-color: $clr12;

  .next-page-btn {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
  }

  .prev-page-btn {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
  }

  .label-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2;
    color: $clr11;
    margin: 0;
    // margin-block-start: 1rem;

    // &::before,
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   width: 10px;
    //   height: 100%;
    //   // background: #fff;
    // }

    // &::before {
    //   left: 0;
    //   box-shadow: inset 0 0 100px -100px black, inset 0px -60px 50px -30px black;
    // }

    // &::after {
    //   right: 0;
    //   box-shadow: inset 0 0px 50px -30px black, inset 0px -60px 50px -30px black;
    // }

    .label {
      display: grid;
      gap: 0.5rem;
      justify-items: center;
      filter: invert(45%);
      transition: 0.3s;

      &:hover {
        filter: invert(0%);
        cursor: pointer;
      }
    }

    .label-img {
      width: rem(24px);
      // filter: grayscale(100%);
      // height: 25px;
    }

    .label-name {
      font-size: 0.8rem;
      font-family: cereal-regular;
      color: black;
      margin: 0;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;

    opacity: 0.9;
    background-color: $clr12;
    padding: 0.5rem;
    border: 0.5px solid $gray1;
    border-radius: 50%;
    margin: 0;

    transition: 0.2s;

    &:hover {
      scale: 1.02;
      opacity: 1;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
  }
}