.img-carousel {
  position: relative;

  .control-dots {
    position: absolute;
    bottom: 0;

    .dot {
      box-shadow: none;
    }
  }

  button {
    display: none;
    place-items: center;

    width: 2rem;
    height: 2rem;

    opacity: 0.9;
    background-color: #fff;
    padding: 0.5rem;
    border: 0.5px solid $gray1;
    border-radius: 50%;
    margin: 0;

    transition: 0.2s;
  }

  .carousel:hover .nav-btn {
    display: flex;
  }

  img {
    padding: 0;
    margin: 0;
    margin: auto;
  }

  .nav-btn-left {
    z-index: 1;
    position: absolute;
    top: 50%;
    // left: 1rem;
    transform: translateY(-50%);
    padding-inline-end: 0.2rem;

    img {
      max-width: 0.8rem;
    }

    &:hover {
      scale: 1.02;
      opacity: 1;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
  }

  .nav-btn-right {
    z-index: 1;
    position: absolute;
    top: 50%;
    // right: 1rem;
    transform: translateY(-50%);

    img {
      max-width: 0.8rem;
    }

    &:hover {
      scale: 1.02;
      opacity: 1;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
  }
}
