.mobile-filter-modal {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    margin-right: 10rem;
    background-color: #fff;
    padding-block-end: 4rem;

    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;

    hr {
        border: 0.5px solid rgb(223, 222, 222);
        width: 100%;
    }

    .mobile-filter-modal-modals {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-inline: 2rem;
    }

    .mobile-filter-modal-footer {
        z-index: 100000;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #e0e0e0;
        padding-inline: 2rem;
    }
}