.stay-preview {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  max-width: 400px;
  color: $gray4;

  .preview-img-container {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    overflow: hidden;

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;

      max-width: 100%;
      max-height: 100%;
    }
  }

  .stay-preview-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &:hover {
    cursor: pointer;
  }

  p {
    font-family: cereal-light;
    margin: 0;
    font-size: 0.9rem;
  }

  .secondary-content {
    color: $gray3;
  }

  .stay-preview-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0.4rem;
  }

  h2 {
    margin: 0;
    font-size: 0.9rem;
  }

  .stay-preview-price {
    font-family: cereal-regular;
  }

  .stay-preview-heart {
    z-index: 1;
    background-color: rgba(255, 128, 255, 0);
    position: relative;
    top: 1rem;
    margin-bottom: -1rem;
    left: 82%;
    width: 3rem;

    img {
      width: 2rem;
    }
  }

  .stay-preview-price {
    display: flex;
    gap: 0.2rem;
    align-items: center;

    span {
      font-size: 0.9rem;
      font-family: cereal-medium;
    }
  }
}

.stay-preview-map {

  .preview-img-container {
    border-radius: 0;

    img {
      aspect-ratio: 6 / 4;
    }
  }

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;

  .stay-preview-top {
    h2 {
      font-size: 1rem;
    }

  }

  .stay-preview-map-bottom {
    display: flex;
    gap: 0.4rem;
  }

  .stay-preview-map-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

}


button.gm-ui-hover-effect {
  z-index: 1;
  position: absolute !important;
  top: 1rem;
  right: 1.1rem;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  height: 1.8rem !important;
  width: 1.8rem !important;

  background-color: rgba(255, 255, 255) !important;
  border: 0.5px solid $gray1;
  border-radius: 50%;
  transition: 0.2s !important;

  &:hover {
    scale: 1.02 !important;
  }

  span {
    width: 1rem !important;
    height: 1rem !important;
    margin: 0 !important;
  }

}


.gm-style-iw-ch,
.gm-style-iw-d,
.gm-style-iw-c {
  padding: 0 !important;
  overflow: hidden !important;
}

.gm-style {
  &>*:first-child {
    &>*:first-child {
      filter: grayscale(52%) sepia(4%) brightness(110%) hue-rotate(332deg) saturate(193%) contrast(112%) invert(6%);
      -webkit-filter: grayscale(52%) sepia(4%) brightness(110%) hue-rotate(332deg) saturate(193%) contrast(112%) invert(6%);
      -moz-filter: grayscale(52%) sepia(4%) brightness(110%) hue-rotate(332deg) saturate(193%) contrast(112%) invert(6%);
    }
  }
}