.stay-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  margin-block-end: 5rem;
  margin-block-start: 6rem;

  li {
    display: flex;
    flex-direction: column;
  }
}
