.stay-preview {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  max-width: 400px;
  margin-block-end: 1rem;
  color: $gray4;

  .preview-img-container{
    max-width: 100%;
    max-height: 100%;

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      
      max-width: 100%;
      max-height: 100%;
      
      border-radius: 20px;
      margin-block-end: 1rem;
    }
  }


  .stay-preview-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  // img {
  //   aspect-ratio: 1 / 1;
  //   object-fit: cover;
    
  //   max-width: 100%;
  //   max-height: 100%;
    
  //   border-radius: 20px;
  //   margin-block-end: 1rem;
  // }
  
  p {
    font-family: cereal-light;
    margin: 0;
  }

  .secondary-content {
    color: $gray3;
  }

  .stay-preview-top {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1rem;
  }

  h2 {
    margin: 0;
    font-size: 1.1rem;
  }

  .stay-preview-price {
    font-family: cereal-regular;
  }

}