.stay-preview {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  max-width: 400px;
  color: $gray4;

  .preview-img-container {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    overflow: hidden;

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;

      max-width: 100%;
      max-height: 100%;
    }
  }


  .stay-preview-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &:hover {
    cursor: pointer;
  }

  p {
    font-family: cereal-light;
    margin: 0;
  }

  .secondary-content {
    color: $gray3;
  }

  .stay-preview-top {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.4rem;
  }

  h2 {
    margin: 0;
    font-size: 1.1rem;
  }

  .stay-preview-price {
    font-family: cereal-regular;
  }

  .stay-preview-heart {
    z-index: 1;
    background-color: rgba(255, 128, 255, 0);
    position: relative;
    top: 3.5rem;
    left: 82%;

    img {
      width: 2rem;
    }
  }

  .stay-preview-price {
    display: flex;
    gap: 0.2rem;
    align-items: center;

    h1 {
      font-size: 1rem;
      font-family: cereal-medium;
    }
  }

}