.user-menu {
    z-index: 1000;
    position: fixed;
    top: 5.3rem;
    right: 5rem;

    display: grid;

    width: 10rem;

    padding-block: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

    font-size: 0.9rem;
    font-family: cereal-medium;
    color: black;

    &>* {
        border-radius: 0;

        button {
            padding-inline-start: 1rem;
            padding-block: 0.5rem;
            text-align: start;
            background-color: inherit;
        }
    }

    a:hover {
        background-color: #f5f4f4;
    }
}