* {
  box-sizing: border-box;
}

html {
  color: $clr2;
}

body {
  margin: 0 auto;
  font-family: "cereal-regular";
}

a {
  all: unset;
  font-family: "cereal-regular";
}

a:hover {
  all: unset;
  text-decoration: none;
}

button {
  font-family: "cereal-regular";
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  max-width: 100%;
}