* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  // position: relative;
  margin: 0 auto;
  font-family: "cereal-regular";
  // padding-top: 150px;
  color: $clr2;

  @include for-mobile-layout {
    // background-color: blue;
  }
  @include for-narrow-layout {
    // background-color: green;
  }
  @include for-normal-layout {
    // background-color: red;
  }
  @include for-wide-layout {
    background-color: white;
  }
}

a {
  all: unset;
  font-family: "cereal-regular";
}

a:hover {
  all: unset;
  text-decoration: none;
}

button {
  font-family: "cereal-regular";
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
