@font-face {
  font-family: cereal-bold;
  src: url(../fonts/Cereal/AirbnbCereal_W_Bold.otf);
}
@font-face {
  font-family: cereal-regular;
  src: url(../fonts/Cereal/AirbnbCereal_W_regular.otf);
}

@font-face {
  font-family: cereal-Xbold;
  src: url(../fonts/Cereal/AirbnbCereal_W_XBold.otf);
}

@font-face {
  font-family: cereal-XXbold;
  src: url(../fonts/Cereal/AirbnbCereal_W_XX_bold.otf);
}

@font-face {
  font-family: cereal-light;
  src: url(../fonts/Cereal/AirbnbCereal_W_Light.otf);
}

@font-face {
  font-family: cereal-medium;
  src: url(../fonts/Cereal/AirbnbCereal_W_medium.otf);
}

@font-face {
  font-family: fa-solid;
  src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
  font-family: fa-brand;
  src: url(../fonts/fa-brands-400.ttf);
}

.fa.solid::before {
  font-family: fa-solid;
}

.fa.brand::before {
  font-family: fa-brand;
}

.fa.solid.plus::before {
  content: "\2b";
}

.fa.solid.minus::before {
  content: "\f068";
}

.fa.solid.location::before {
  content: "\f3c5";
}

.fa.brand.airbnb::before {
  content: "\f834";
}
